.about {
  border-bottom: 1px solid #e8e8e8;

  &__ul {
    list-style-type: disc;
    list-style-position: inside;

    & li {
      margin-bottom: rem(15px);
      color: $subtitleColor;
      font-size: rem(18px);
      &:last-child {
        margin-bottom: 0;
      }
      @include sm {
        font-size: rem(16px);
      }
    }
  }

  &__img {
    position: relative;
    & img {
      position: relative;
      max-width: 100%;
      z-index: 1;
    }

    &:after {
      content: ' ';
      position: absolute;
      right: rem(-15px);
      bottom: rem(-15px);
      height: 80%;
      width: 80%;
      background: #ccc;
      z-index: 0;
      @include xs {
        display: none;
      }
    }

    &.about-page__left.about__img:after {
      left: rem(-15px);
    }
    &.summer-school__img.about__img:after {
      display: none;
    }
  }
}
