.banner {
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  padding: rem(45px) 0;
  width: 100%;
  height: 100%;
  min-height: calc(100vh - 140px);



  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #efefef;
    opacity: 0.7;
    z-index: 0;
  }

  &__img {
    @include md {
      min-width: rem(1920px);
      height: 100%;
    }

  }

  &__sliders {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    z-index: 0;
    bottom: 0;
  }

  & .swiper-pagination {
    position: relative;
    text-align: left;
  }

  & .swiper-pagination-bullet {
    width: rem(12px);
    height: rem(12px);
  }

  & .swiper-container-horizontal>.swiper-pagination-bullets,
  .swiper-pagination-custom,
  .swiper-pagination-fraction {
    bottom: 0;
    left: 0;
  }

  & .swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 rem(15px) 0 0;
  }

  & .swiper-pagination-bullet-active {
    background-color: $secondColor;
  }

  &__texts {
    padding: rem(40px) 0;

    @include sm {
      padding: rem(20px) 0;
    }
  }

  &__title {
    font-family: $secondFont;
    font-weight: 600;
    line-height: rem(40px);
    color: $titleColor;
    font-size: rem(36px);

    @include md {
      font-size: rem(30px);
    }

    @include xs {
      font-size: rem(24px);
    }
  }

  &__paraph {
    margin-top: rem(20px);
    font-size: rem(18px);
    color: $titleColor;
    line-height: rem(28px);

    @include sm {
      font-size: rem(16px);
      line-height: rem(24px);
    }

    @include xs {
      margin-top: rem(10px);
    }
  }

  &__btn {
    transition: ease-out 0.3s;
    position: relative;
    z-index: 3;
    box-sizing: border-box;
    padding: rem(12px) rem(24px);
    text-transform: uppercase;
    border: 2px solid $mainColor;
    background: rgba($mainColor, 0);
    color: $mainColor;
    font-weight: 600;

    @include md {
      padding: rem(10px) rem(20px);
    }

    &:hover {
      color: $whiteColor;
      border: 2px solid $mainColor;
      background: rgba($mainColor, 1);
    }
  }

  &__logo {
    position: relative;
    z-index: 2;
    width: 100%;
    max-width: rem(100px);
  }

}
