@import "rem";

$mainFont: "Montserrat";
$secondFont: "Raleway";

$mainColor: #0065a3;
$secondColor: #f1c40f;

$titleColor: #353535;
$subtitleColor: #5b5b5b;
$navColor: #484848;

$borderColor: #dddddd;

$footerLinkColor: #d5d5d5;

$whiteColor: #ffffff;
$blackColor: #000000;


$width: 1170px;

